.dark-high-contrast {
  --md-sys-color-primary: rgb(255 255 255);
  --md-sys-color-surface-tint: rgb(159 202 252);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(210 210 215);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(57 211 83);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(35 134 54);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(121 192 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(31 111 235);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(255 123 114);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 180 171);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(13 17 23);
  --md-sys-color-on-background: rgb(255 255 255);
  --md-sys-color-surface: rgb(13 17 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(33 38 45);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 255 255);
  --md-sys-color-outline-variant: rgb(255 255 255);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(255 255 255);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(52 97 142);
  --md-sys-color-primary-fixed: rgb(208 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(159 202 252);
  --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
  --md-sys-color-secondary-fixed: rgb(148 249 149);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(120 220 124);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 22 3);
  --md-sys-color-tertiary-fixed: rgb(213 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(167 200 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 17 41);
  --md-sys-color-surface-dim: rgb(13 17 23);
  --md-sys-color-surface-bright: rgb(48 54 61);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(22 27 34);
  --md-sys-color-surface-container: rgb(48 54 61);
  --md-sys-color-surface-container-high: rgb(60 68 76);
  --md-sys-color-surface-container-highest: rgb(80 90 100);
}
